* {
  box-sizing: border-box;
  background-color: #23252C;
}

#app {
  background-color: #1a1b21;
  width: 30%;
  height: 100%;
  position: relative;
  left: 35%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1b21;
  max-height: 100%;
}

.picture {
  max-width: 100%;
}

.name {
  color: #fff;
  background-color: #1a1b21;
  margin-bottom: 0;
}

.job-title {
  color: #F3bf99;
  background-color: #1a1b21;
}

.website {
  color: #fff;
  background-color: #1a1b21;
  margin-bottom: 1rem;
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: space-around;
  background-color: #1a1b21;
  width: 80%;
}

.emailButton {
  background-color: #fff;
  width: 115px;
  border-radius: 6px;
  border: none;
  height: 34px;
}

#emailLogo {
  width: 1rem;
  margin-right: 6px;
}

.linkedinButton {
  background-color: #5093e2;
  color: #fff;
  width: 115px;
  height: 34px;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#linkedinLogo {
  width: 1rem;
  margin-right: 6px;
}

.main {
  background-color: #1a1b21;
  color: #fff;
  max-height: 100%;
}

.about {
  background-color: #1a1b21;
  margin: 0 60px 10px 60px;
}

.about>h2 {
  background-color: #1a1b21;
  margin-bottom: 0;
}

.about>p {
  margin: 0;
  background-color: #1a1b21;
}

.interests {
  background-color: #1a1b21;
  margin: 10px 60px 30px 60px;
}

.interests>h2 {
  background-color: #1a1b21;
  margin-bottom: 0;
}

.interests>p {
  margin: 0;
  background-color: #1a1b21;
}

.footer {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #161619;
  margin: 10px 0 10px 0;
  max-height: 100%;
}

.tButton {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 6px;
  margin: 10px 0 10px 0;
  border: none;
}

.gButton {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 6px;
  margin: 10px 0 10px 0;
  border: none
}

#tLogo {
  max-width: 100%;
  background-color: #fff;
}

#gLogo {
  max-width: 100%;
  background-color: #fff;
}